body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/*{
background-size: 21px 21px;
background-image: repeating-linear-gradient(45deg, #fde5d4 0, #fde5d4 1.1px, #ffffff 0, #ffffff 50% z-index:-1);
}*/

header {
  background-color: rgb(44, 169, 200);
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: rgb(246, 255, 214);
  height: 30px;
  box-shadow: 0 2px 5px rgba(141, 172, 199, 0.5); 
}

nav a {
  color: white;
  padding: 10px 20px;
  text-decoration: solid;
  font-weight: bolder;
}

h1 {
  margin: 20px 0;
  text-align: center;
  color:rgb(255, 175, 109);
}

h1:first-child {
  margin-top: 0;
}

h2 {
  padding-left: 20px;
  padding-right: 20px;
  color:rgb(161, 143, 164);
  font-size: 16px;
  text-align: center;
}

.text-container h2:nth-of-type(2) {
  padding-left: 20px;
  padding-right: 20px;
  color:rgb(216, 150, 100);
  font-size: 20px;
  text-align: center;
}

img {
  animation: move 8s infinite;
}

footer {
  background-color:  rgb(44, 169, 200);
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 10px;
}

footer p {
  color: white;
  padding: 10px;
  text-align: right;
  padding-right: 20px;
}

.subscription {
  border: 1px solid black;
  width: 400px;
  height: 100px;
  margin: 0 auto;
}

@keyframes move {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 500px;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form b {
  flex-basis: 100%;
}

form input {
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
}

form input {
  vertical-align: top;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(141, 172, 199, 0.5); 
}

form input[type="text"] {
  flex-basis: 30%;
}

form input[type="text"],
form input[type="button"] {
  flex-basis:30%;
}

@media screen and (max-width: 600px) {
  form {
    justify-content: column;
  }
  form input[type="text"],
  form input[type="button"] {
    flex-basis: 100%;
  }
}

form input[type="button"] {
  flex-basis: 15%;
  background-color:#7ad4bd;
  color: white;
  padding: 6px 10px;
  border-style: solid;
  border-color:rgb(94, 175, 161);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 0 2px 5px rgba(141, 172, 199, 0.5); 
}

form input[type="button"]:hover {
  background-color: #ffc6a5;
  border-style: solid;
  border-color:rgb(255, 161, 47);
}

input[type="text"] {
  padding: 5px 15px;
  border-color:rgb(169, 193, 217);
  border-radius: 5px;
  border-style: solid;
}

input::placeholder {
  color: rgb(210, 203, 214);
  font-size: 12px;
}

b {
  margin: 10px;
  color:#7060a0
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.container > * {
  margin: 0;
}

heading-container, .form-container {
  display: inline-block;
  text-align: center;
}

.form-container form {
  text-align: center;
  margin: 0;
}

.form-container {
  display: flex;
  align-items: center;
  padding-bottom: 8%;
}

.text-container h1:first-child {
  margin-bottom: 0;
}

